<!DOCTYPE html>
<html>
<head>
    <title>Plotly Visualization</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="
https://cdn.jsdelivr.net/npm/chartjs-plugin-trendline@2.0.3/src/chartjs-plugin-trendline.min.js
"></script>
</head>
<body>
  <canvas id="myChart"></canvas>
    
  <script type="text/javascript">
    var openPrice;
    var dateData;
    d3.json("http://127.0.0.1:5000/OpenPriceData", function(data) {
        openPrice = data;
       d3.json("http://127.0.0.1:5000/Date", function(date){
        dateData = date;
        console.log(openPrice);
        console.log(dateData);
        const ctx = document.getElementById('myChart').getContext('2d');

        // Create the line chart
        new Chart(ctx, {
          type: 'line',
          data: {
            labels: dateData,
            datasets: [{
              label: 'Open',
              data: openPrice,
              borderColor: 'blue',
              trendlineLinear: {
                  style: "rgba(255,255,0, .8)",
                  lineStyle: "dotted|solid",
                  width: 2
              },
              fill: false
            }]
          },
          options: {
            responsive: true,
            scales: {
              x: {
                display: true,
                title: {
                  display: true,
                  text: 'Date'
                }
              },
              y: {
                display: true,
                title: {
                  display: true,
                  text: 'Volume'
                }
              }
            }
          }
        });

        function findBiggestChange(array) {
        let maxChange = 0;

        for (let i = 1; i < array.length; i++) {
        const change = Math.abs(array[i] - array[i - 1]);
        if (change > maxChange) {
          maxChange = change;
              }
            }

           return maxChange;
          }
        function findBiggestChangePosition(array) {
        let maxChange = 0;
        let pos = 0;
        for (let i = 1; i < array.length; i++) {
        const change = Math.abs(array[i] - array[i - 1]);
        if (change > maxChange) {
          maxChange = change;
          pos = i;
              }
            }

           return pos;
          }
        const BiggestChange = findBiggestChange(openPrice);
        console.log(BiggestChange);
        const BiggestChangePost = findBiggestChangePosition(openPrice);
        console.log(BiggestChangePost)
       })
       





            });
    
    </script>
</body>
</html>